In [1]:
print("Hello")

Hello

hey hi

In [2]:
print("Megha")

Megha

Why Python?
This is beacause python is intrepreter and have a capability to take ample entries of data and it also support OOPs(Object Oriented Programming) which helps you to reuse a peice of code any amount of time whenever it's called.

Data types in python.
What are data:- data is anything that consumes space and anything that have information inside it is data.

Data types: use to identify the type of value which we have entered.

What are different data types in python?


Integer: is data types which hold numeric value. example:-1,2,3,4,5 but not 1.2,0.1 etc.
Float  :   is data types which hold numeric value which is in decimal format. example: 1.2,1.1,3.1,3.0 etc.
String :  it is combination of characters which can be alphabet,numbers and decimal but inside the inverted commas.
List   : List is defined under square brackets and can be anything i.e. string, float,int seperated with commas.
tuple  : tuple is defined under normal brackets and can be anything i.e. string, float,int seperated with commas.
Sets   : sets is defined under curly brackets and can be anything i.e. string, float,int seperated with commas but           difference is it only gives unique values as output.
Dict   : it follows the combination of key value pair and key value pair can be anything i.e. numbers or charaters              etc.
Boolean: True and False.
None   : as name mentioned.



"PYTHON IS CASE SENSITIVE."




Variable Declaration in Python:
x=10
y=3.0

In [3]:
x=10  
print(type(x))

<class 'int'>

In [4]:
x=10.0 
print(type(x))

<class 'float'>

In [5]:
x="Megha's phone number is 04489000"
print(type(x))
print(x)

<class 'str'>
Megha's phone number is 04489000

How you can define string inside the python. 
Ans:-anything or any combination of characters inside the inverted commas
is considered as string.

In [6]:
    x=["My class",10,10.0]
    print(type(x))
    print(x)

<class 'list'>
['My class', 10, 10.0]

In [7]:
x=("My class",10,10.0)
print(type(x))
print(x)

<class 'tuple'>
('My class', 10, 10.0)

In [8]:
x={"My class",10,10,10,1,2,3,10}
print(type(x))
print(x)

<class 'set'>
{1, 2, 3, 10, 'My class'}

In [9]:
ord("A")

65

In [10]:
ord("B")

66

In [11]:
ord("C")

67

In [12]:
x={"python":4,"Megha":6}
y={5:"Pyhton",6:"Megha"}
print(type(x))
print(x)
print(type(y))
print(y)

<class 'dict'>
{'python': 4, 'Megha': 6}
<class 'dict'>
{5: 'Pyhton', 6: 'Megha'}

In [13]:
y=10
print(type(y))

<class 'int'>

Mutability and Immutability:
    Mutable: It means you can edit the data or values inside the defined data type.( Editable data types)
                example: List,Sets,Dict,int,float
    Immutabe:It means you can not edit the data or values inside the defined data types.(Uneditable data type)
                example: String,tuple

In [14]:
a=[1,2,3,4,5]  //list
b=(3,4,"megha","heya")  //tuple
c={"hello","peekaboo","hello"} //sets
d={"pyhton":4,"java":5} //dict
h="hello my class. Hoe are you people?" //string

TypeError: unsupported operand type(s) for //: 'list' and 'type'

In [ ]:
c={"hello","peekaboo","hello"} 
print(c)

In [ ]:
a=[1,2,3,4,5] 
a[1]="megha"
print(a)

In [ ]:
h="hello my class. How are you people?"
h[1]="a"
print(h)

In [ ]:
b=(3,4,"megha","heya")
b[1]=5
print(b)

In [ ]:
c={"hello","peekaboo","hello","Neha"}
print(c)
c.discard("peekaboo")
print(c)
c.add("Megha")
print(c)

In [ ]:
d={"python":4,"java":5}
print(d["java"])
d.update({"help":87})
print(d)

In [ ]:
d={"python":4,"java":5,"python":67}
print(d)

Keys inside the dictionaries are:
    1. unique
    2. immutable
Values in dictionary can be duplicate and can be edited.

In [ ]:
d={5:"megha",6:"megha"}
print(d)
d[5]="xyz"
print(d)
d[6]="xyz"
print(d)

WHAT AMONGST THE LIST AND TUPLE CAN BE CONSIDERED AS A KEY IN DICTIONARY?
TUPLE

TYPECASTING OR DATA TYPE CONVERSION.
Converting a data type into another data type.
there are certain data types which gets typecasted not every data type.

In [ ]:
kaustubh=["Neha","Vaidehi","Sourabh","Paras"]
print(type(kaustubh))
kaustubh[0]="megha"     #list to tuple
print(kaustubh)
b=tuple(kaustubh)
print(type(b))
print(b)
b[0]="Neha"
print(b)

In [ ]:
xyz=(1,2,["manish","megha"])
b=list(xyz)
print(type(b))   #tuple to list
b[2]="megha"
print(b)

In [ ]:
xyz=[1,2,["manish","megha"]]
re=len(xyz)
print(re)

In [ ]:
x=4  #x is 4 here
print(type(x))
x=5   #x is 5 here
print(x)

In [ ]:
y=2.1 #y is 2.1 here
print(type(y))
print(y)
y=5.3 #y is 5.3 here
print(y)

In [ ]:
r="Hey I am here"  #string will follow indexing in the global frame but not on objects.
y=r[0]
print(y)

In [ ]:
#sets to list typecasting:

abc={"apple","Mango","Banana","Papaya","Mango"}
print(type(abc))
xyz=list(abc)
print(type(xyz))

In [17]:
#list to sets typecasting:
abc=["apple","Mango","Banana","Papaya","Mango"]
print(type(abc))
pqr=set(abc)
print(type(pqr))
print(pqr)

<class 'list'>
<class 'set'>
{'apple', 'Mango', 'Papaya', 'Banana'}

In [ ]:
 typecast string into the list??
    2 minutes

In [19]:
xyz="paras bajaj"
abc=list(xyz)
print(abc)

['p', 'a', 'r', 'a', 's', ' ', 'b', 'a', 'j', 'a', 'j']

In [20]:
st= "'my' 'name' 'is' 'stuti'"
lst= list(st)
print (lst)

["'", 'm', 'y', "'", ' ', "'", 'n', 'a', 'm', 'e', "'", ' ', "'", 'i', 's', "'", ' ', "'", 's', 't', 'u', 't', 'i', "'"]

In [21]:
str1="Online, offline"
print(type(str1))
lst1=list(str1)
print(type(lst1))

<class 'str'>
<class 'list'>

In [26]:
#["my","name"]
# .split function helps to split the words in the string also typecast it into the list.
queen="Elizabeth-4-was-the-greatest-amongst-all-the-queens."
filtered=queen.split("-")
print(filtered)

['Elizabeth', '4', 'was', 'the', 'greatest', 'amongst', 'all', 'the', 'queens.']

In [27]:
v="Louis#Phillipe#4#was#the#brutal#king#amonst#all."
v="louis#philip#was#the#brutal#among#all"
i=v.split("#")
print(i)

['louis', 'philip', 'was', 'the', 'brutal', 'among', 'all']

In [28]:
#set to tuple
x={1,2,3,4,5,5}
print(type(x))
y=tuple(x)
print(type(y))

<class 'set'>
<class 'tuple'>

In [30]:
#tuple to set
xyz=(1,2,3,4,5,5)
p=set(xyz)
print(type(p))

<class 'set'>

In [31]:
list1=[1,2,3,4,5,6]
x=list1[-1]
print(x)

6

In [34]:
x=[1,2,3,4]
y=[76,789,78]
z=x+y
print(z)

[1, 2, 3, 4, 76, 789, 78]

SLICING:
SLICING IS NOTHING BUT CUTTING THE ELEMENTS INSIDE THE LIST OR TUPLE OR DICT:
 
 
 SYNTAX:
   [STARTING POSITION:ENDNG POSITION:STRIDE]

In [37]:
LIST2=[1,2,3,4,5]
POST=LIST2[2:3]
print(POST)

[3]

In [38]:
fruits=("Chikoo","Dragon fruit","Melon")
c=fruits[0:2]
print(c)

('Chikoo', 'Dragon fruit')

In [39]:
fruits={"Chikoo","Dragon fruit","Melon"}
c=fruits[0:2]
print(c)

TypeError: 'set' object is not subscriptable

In [40]:
fruits={"Chikoo":5,"Dragon fruit":10,"Melon":2}
c=fruits[0:2]
print(c)

TypeError: unhashable type: 'slice'

In [5]:
fruits=["Chikoo","Dragon fruit","Melon","orange","apple","coconut"]
c=fruits[0:6:4]
print(c)

['Chikoo', 'apple']

In [12]:
fruits=["Chikoo","Dragon fruit","Melon","orange","apple","coconut"]
c=fruits[6:0:-1]
print(c)

['coconut', 'apple', 'orange', 'Melon', 'Dragon fruit']

How to take input from user in python?

In [17]:
x=input()
y=input()
print(type(x))
abc=x+y
print(abc)

10
20
<class 'str'>
1020

In [18]:
x=int(input())
y=int(input())
print(type(x))
abc=x+y
print(abc)

20
20
<class 'int'>
40