Syantax:
    if Boolean:
        lines of code.....
        ......
    else:
        
        lines of code...
Boolean=comaprison operators here.

In [3]:
2==2

True

In [6]:
reply="hey"
if reply=="hey":
    print("let's go for a movie tonight")
    reply1="no"
    if reply1=="no":
        print("koi baat nahi")
    else:
        print("ok I be there to pick you up")
else:
    print("no response")

let's go for a movie tonight
koi baat nahi

In [8]:
reply="heya"
if reply=="hey":
    print("let's go")
elif reply=="heya":
    print("ok let's go again")
else:
    print("chalta hai")

ok let's go again

In [10]:
order=["cake","pastries","gulabjamun"]
order2=["paneer ","chicken","biryani"]
order3=order[0]
if order3=="cake":
    print("yum")
if order3=="pastries":
    print("yummy")

yum

In [ ]:
Memebership operators:
    in, not in

In [11]:
fruits=["banana","apple","cherry"]
"apple" in fruits

True

In [12]:
order=["cake","pastries","gulabjamun"]
if "cake" in order:
    print("maza agya")
if "pastries" in order:
    print("kya baat hai")

maza agya
kya baat hai

In [ ]:
Loops:
    iterations: they are nothing but using values again and again which we have defined earlier.

In [13]:
queue1=[10,100,200,400,30]
for payments in queue1:
    print(payments)

10
100
200
400
30

In [15]:
print("recieved payment",queue1[0])
print("recieved payment",queue1[1])
print("recieved payment",queue1[2])
print("recieved payment",queue1[3])
print("recieved payment",queue1[4])

recieved payment 10
recieved payment 100
recieved payment 200
recieved payment 400
recieved payment 30

In [ ]:

Syntax:
    for variable_name in assigned one:
        lines of code.....
        .........
        
    
    
    
Datatypes which follows indexing:
    1.list
    2.tuple
    3.string
    4.float
    5.int
Datatypes that does not follow indexing:
    1.set
    2.dict
    
    
    
Mutable:
    1.Lists
    2.Sets
    3.dict
Immutable:
    1.int
    2.float
    3.string
    4.tuple

In [18]:
x=2
if x%2==0:
    print("x is even")
    if x>0:
        print("x is positive")
#1 x is even
#2 x is positive
#3 both

x is even
x is positive

In [20]:
dict1={"python":1,"java":2}
print(dict1["python"])

1

#Slicing 
Slicing is nothing but cutting or splitting the values.

In [21]:
fruit="apple"
fruit[0:3]

'app'

In [22]:
fruit[0:4]

'appl'

In [23]:
fruit[0:2]

'ap'

In [26]:
for key1 in {"python":1,"java":2}:
    print(key1)        ## how to print key names in dictionaries

python
java

# syantax of slicing:
    #varaible_name[start_index,end_index,stride]

In [27]:
fruit=["stuti","manish","mani","divyangi","kinshuk"]
fruit[0:3]

['stuti', 'manish', 'mani']

In [28]:
fruit=("stuti","manish","mani","divyangi","kinshuk")
fruit[0:3]

('stuti', 'manish', 'mani')

In [29]:
fruit[-1]

'kinshuk'

In [30]:
fruit[0]

'stuti'

In [31]:
fruit[-1:-4]

()

In [14]:
fruit=["stuti","manish","mani","divyangi","kinshuk","megha","anyone","vus","xyz"]
fruit[-1:-3:-1]

['xyz', 'vus']

In [15]:
fruit[0:5:3]

['stuti', 'divyangi']

In [16]:
fruit[-3:-1]

['anyone', 'vus']

In [17]:
fruit[2:4]

['mani', 'divyangi']

In [20]:
fruit[0:]

['stuti',
 'manish',
 'mani',
 'divyangi',
 'kinshuk',
 'megha',
 'anyone',
 'vus',
 'xyz']

In [19]:
fruit[0:8]

['stuti', 'manish', 'mani', 'divyangi', 'kinshuk', 'megha', 'anyone', 'vus']

In [ ]:
print yes if x is divisible by both 3 and 5.

In [2]:
no= int (input ())
if no%3==0 and no%5==0:
    print("yes")
else:
    print("not divisible")

15
yes

In [ ]:
True and False equivalence

In [3]:
x=False  #0
y=True    #1
z=x and y
print(z)

False

In [4]:
m=x or y  #+
print(m)

True

In [5]:
bool(True)

True

In [6]:
bool(False)

False

In [7]:
if {}:
    print("I am here")
else:
    print("no,I am not here")

no,I am not here

In [9]:
bool('')

False

In [10]:
bool("hey")

True

In [11]:
student="xyz"
if student:
    print("chalega mera program")

chalega mera program

In [14]:
for item in [True,1,2,3,["x","y","z"],("x","y","u")]:
    print(bool(item))

True
True
True
True
True
True

In [ ]:
All the thing in python which also means true or can be considered as true in place like conditional statements.

When we use these boolen equivqlents in condiotional statements they are automatically type caste into boolean values.

In [15]:
xyz={"python":3,"hey":5}
for stuti in xyz:
    print(stuti,xyz[stuti])

python 3
hey 5

In [16]:
xyz["python"]

3

In [ ]:
Data types which we can interation over or loop over:
    1.list
    2.dict
    3.set
    4.tuple

In [ ]:
["stuti is ok","suwefbef"]


"stuti is ok"