In [ ]:
Tell me what data types are iterables:
    1.strings.
    2.tuple
    3.sets
    4.lists
    5.dict

In [ ]:
Build in functions for python:

Length fucntions:-
    are nothing but helps in finding the length.

In [ ]:
X=[1,2,3,4,5,7]
print(len(X))

In [ ]:
dict1={"python":2,"java":3}
print(len(dict1))

In [ ]:
sets={"apple",1,1,1,2,3}
print(len(sets))

In [ ]:
tuple1=(1,2,3,5,7)
print(len(tuple1))

In [ ]:
range()
will do nothing but provides you the range.


Syntax:
    range(start,stop,step)

In [ ]:


for number in range(1,10):
    print(number)

In [ ]:
for number1 in range(3,10,2):
    print(number1)

In [ ]:
Range is nothing but defining and slicing the values at the same time.
It helps us to reduce the lines of codes.

In [ ]:
for number2 in range(10,3,-1):
    print(number2)

In [ ]:
help(range)

In [ ]:
help(len)

# print table of 5:

In [ ]:
for i in range(11,1,-1):
    x=i*5
    print(x)

In [ ]:
append()
build in function in python which adds the value in list or you can any data types.

In [ ]:
months=["January","february","march"]
months.append("april")
print(months)

In [ ]:
tuple1=(1,2,3,4)
tuple1.append(5)
print(tuple1)

##append only works with mutable datatypes.

# While loop

A while loop in programming concept, when it implements excutes a piece of code over and over again until the staisfied condiyion gets reached.

In [ ]:
i=6
while i<=9:
    print(i)
    i+=1   ## i=i+1

In [ ]:
i=5
while i<15:
    print("hello world")

In [ ]:
for loop the no. of iterations aee already known and id used to obtain a certain result.
while loop runs until a certail condition is reached.

In [ ]:
break
continue
pass

In [ ]:
i=1
while i!=3:
    print(i)
    if i==2:
        break  ##break statements are nothing but use to terminate the loops.
    i=i+1

In [ ]:
i=1
while i!=3:
    i=i+1
    print(i)
    if i==2:
        continue #continue to work.
    print("going fine")

In [ ]:
i=0
while i!=3:
    print(i)
    if i==2:
        pass #pass is nothing but passing the values in loop or forwarding the loop.
    i=i+1

In [ ]:
Fucntions:
    function are nothing but the portion of code which we can use anywhere once created if required.
advantages:
    1.reusibility.
    2.modularity

In [ ]:
Syntax:
    def name_of_fuction (arg1,arg2):
        lines of code.....
        ........
        .....
Syntax:
    name_of_func(parameters)

In [ ]:
#example of functions

def sum_sub (input1,input2):
    sum_of_1=input1+input2
    sub_of_1=input1-input2
    print(sum_of_1*sub_of_1)

In [ ]:
sum_sub(23,45)

In [ ]:
sum_sub(2,3)

In [ ]:
write a fucntion which will take a list and print 1st element of list.

In [ ]:
def list_index (list1):
    list2=list1[0]
    print(list2)

In [ ]:
list_index(["apple","mango"])

In [ ]:
def list_index(list1):
    print(list1[0])

In [ ]:
list_index([{"pyhton":1,"java":5},2,3])

In [ ]:
def string1():
    given_string=input()
    print(given_string[0])

In [ ]:
string1()

In [ ]:
def sum_sub (input1,input2):
    sum_of_1=input1+input2
    sub_of_1=input1-input2
    print(sum_of_1*sub_of_1)

In [ ]:
sum_sub(23,25)

In [ ]:
def sum_sub (input1,input2):
    sum_of_1=input1+input2 
    sub_of_1=input1-input2
    return sum_of_1*sub_of_1

In [ ]:
xyz=sum_sub(2,3)
print(xyz)

# Namespaces

In [ ]:
Global and local variables.

In [ ]:
x=12  #global variable
#y=10

In [ ]:
x=12 # global variable
def func1(x,y):
    c=x+y 
    print(c) #local varible
    return c

In [ ]:
print(func1(x,30))

In [ ]:
c

In [ ]:
Namespace is like a table which have names and you can access those names according to rule.
Scope of local variable is inside the function in which we have defined it.
scope of global variable is anywhere inside the piece of code.

In [ ]:
Write a function whihc retuens list of all even elements from given_list:

In [ ]:
def filter_even(given_list):
    even_list=[]
    for number in given_list:
        if number%2==0:
            even_list.append(number)
    return even_list

In [ ]:
x=filter_even([1,2,3,4,5,6,7,8])
print(x)

# WAF take 2 lists as argurment and retuens sum of respective no. if the length of both the list is same else none:
    li=[2,1,4]
    l2=[4,5,6]
    
    result_list=[6,6,10]
    3:42 to 3:47

In [ ]:
def sum_list(list1,list2):
    if len(list1)==len(list2):
        new_list=[]
        for i in range(len(list1)):
            new_list.append(list1[i]+list2[i])
        return new_list
    else:
        return none

In [ ]:
sum_list([1,2,3],[3,4,5])

# Default arguement:
    Default arguement is used if no arguement is passed for that particular position.

In [1]:
present_today=[]
absenties=[]

def rollcall(name,attendance="Absent"):
    if attendance =="Present":
        present_today.append(name)
    else:
        absenties.append(name)

In [2]:
rollcall("kinshuk")

In [3]:
absenties

['kinshuk']

In [11]:
rollcall("stuti","Present")

In [12]:
present_today

['stuti', 'shubham', 'stuti']

In [8]:
rollcall("divyangi")

# Named arguements:
    If you don't know the order of parameter but know the name of parameter

In [25]:
def task(name,college,stream):
    print(name,"is studying",college,"this guy took",stream)
    task(college="IIT bombay",stream="Computer Science",name="Rohan")

# Variable arguements:
    #packing:Pack variable no. of arguemnets into a collection of 1.
    #Any number of arguement we can use.

In [27]:
def mysum(*collection):
    print(type(collection))
    print(collection)

In [28]:
mysum(1,2,3,4,5,6,67)

<class 'tuple'>
(1, 2, 3, 4, 5, 6, 67)

In [30]:
mysum("stuti",{"python":3,"java":4})

<class 'tuple'>
('stuti', {'python': 3, 'java': 4})